---
import Layout from "../layouts/Layout.astro";
import UserSelect from "../components/UserSelect"; // Import the UserSelect component
import { fakeUsers } from "../types/User"; // Import the fake users
---

<Layout title="Welcome to Astro.">
	<main class="flex justify-center items-center flex-wrap h-screen">
		<div class="flex flex-wrap gap-10">
			<div class="text-center w-full text-lg">Select User</div>
			<UserSelect
				client:only="react"
				users={fakeUsers}
			/>
		</div>
	</main>
</Layout>
