---
import Layout from "../layouts/Layout.astro";
import UserSelect from "../components/UserSelect"; // Import the UserSelect component
---

<Layout title="Welcome to KayEcho.ai" transition:animate="slide">
	<main class="flex justify-center items-center flex-wrap h-screen">
		<div class="flex flex-wrap gap-10">
			<div class="text-center w-full text-lg">Enter your LinkedIn</div>
			<UserSelect client:only="react" />
		</div>
	</main>
</Layout>
