---
import Layout from "@/layouts/Layout.astro";
import Chat from "@/components/Chat";
---

<Layout title="KayEcho.ai" transition:animate="slide">
	<main class="flex justify-center items-center flex-wrap h-screen">
		<div class="flex flex-wrap gap-10">
			<div class="text-center w-full text-lg">
				Who are you looking for?
			</div>
			<Chat client:only="react"  />
		</div>
	</main>
</Layout>
